<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
</head>
<body>
    
</body>
<footer class="contenedor-footer">
    <p>Page by <strong>Daniel Nguyen, Zenan Chen</strong></p>
    <p>Disclaimer: responses by the chatbot are not representative of the views of the authors of this page. FINOVA is not an accredited financial institution; information provided should not be interpreted as financial advice.</p>
</footer>
</html>